.settings-board__wrapper{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    height: 660px;

}

.itemFild{
    width: 44px;
    height: 44px;
}

.elementCount__wrapper {
    width: 450px;
    margin: 0 auto;
    display: flex;
}

.elementCount{
    margin: 0 29px;
}

.mapWrapper{
    width: 660px;
    height: 660px;
}

.btnSaveSettings{
    width: 100%;
    margin-bottom: 30px;
}